/*
the main form flex direction set to row. this cause the question part and response part be on a row.
padding is set to avoid from stiking the borders with texts
*/
.form {
    padding: 1rem;
    border: 1px rgba(0, 0, 0, 0.24) solid;
    background-color: rgba(0, 0, 0, 0.15);;
    display: flex;
    flex-direction: row;
    min-height: 300px;
    min-width: 700px;
}

/*
the elements in question part are going to be under eatch other. and this part owns 50 percent of form.
*/
.questions, .response {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

/*
Give direct children of each column padding for better seperation
*/
.questions > *, .response > * {
    padding: .5rem;
}

/*
gives all main rows class ended with --container a heigth of 50%.
*/
.response > [class$=--container] {
    height: 50%;
}

/*
owns 33% of its container
*/
.response .saved_answer--container > * {
    height: 33%;
}

.response .saved_answer--container {
    border: 2px grey;
}

.gender_selection--container div {
    margin-bottom: 5px;
}

/*
display two buttons side by side horizontaly
*/
.questions .button--container {
    display: flex;
    flex-direction: row;
    width: min-content;
}

/*
Give spase between prediction and accuracy
*/
.response .prediction_result--container div {
    padding: .6rem 0;
}

/*
make the background fullscreen. set the font and chhose a background color
I choosed 2 layers for background. one an image and o color behind that.
*/
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url('background.png') no-repeat center fixed;
    background-color: rgb(150, 235, 150);
    background-size: cover;
    font-family: 'Courier';
}

/*
centerize the main part and put them in vertical shape.
*/
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: .5rem 0;
}

.btn.submit {
    background-color:  #b6f18e;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.btn.save {
    background-color: #77f2f7;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.btn.clear {
    background-color: #f384ea;
    padding: .1rem .1rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    cursor: pointer;
}


/*
set opacity to show the notifiacation. use width to control the width size. use transactoion to hide it after a little time.
*/
.notifications {
    color: rgb(0, 0, 0);
    text-align: center;
    height: 1rem;
    border: 1px solid transparent;
    border-radius: 5rem;
    padding: .5rem;
    opacity: 1;
    transition: all ease .5s;
    width: 450px;
}

/*
show notifications
*/
.show {
    opacity: 1;
}

.error {
    background-color: tomato !important;
}

